<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Enter Data|Face Recognition</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">  
        <form id="contact" action="{{ url_for('add') }}" method="post" enctype="multipart/form-data">
          <h3>Data Entry Form</h3>
          <h4><a href="{{ url_for('view') }}">View Products</a></h4>
          <fieldset>
            <input placeholder="Product name" name="name" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Product Description" name="description" type="text" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input type="file" name="image" tabindex="3" required>
          </fieldset>
          <fieldset>
            <input placeholder="Key" name="key" type="number" tabindex="4" required>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
        </form>
      </div>
</body>
</html>